
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --accent-color: rgb(161, 50, 161); 
  --base-color: rgb(76, 148, 255); 
  --text-color: black; 
  --input-color: rgb(243, 185, 255); 
  --label-color: rgb(207, 231, 67);
}

*{
  margin: 0; 
  padding: 0; 
}

html{
  font-family: poppins;
  font-size: 12pt; 
  color: var(--text-color);
  text-align: center; 
}

body{
  min-height: 100vh; 
  background-size: cover; 
  background-position: right; 
  background-color: var(--base-color);
  
  display: flex;
  justify-content: center;
}

.wrapper{
  background-color: var(--base-color);
  height: 100vh; 
  width: max(40%, 600px);
  padding: 10px; 
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 3rem; 
  font-weight: 800;
  text-transform: uppercase;  
  -webkit-text-stroke: 1px white;
}

h2{
  font-size: 2rem;
  font-weight: 600; 
  text-transform: uppercase; 
  -webkit-text-stroke: 1px white;
}

tr{
  border: 2px; 
  border-color: var(--text-color);
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-weight: bold;
  margin-bottom: 10px;
}

table th, table td {
  border: 1px solid var(--text-color);
  padding: 8px;
}

form{
  width: min(400px, 200%);
  margin-top: 20px; 
  margin-bottom: 50px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}

form > div{
  width: 100%; 
  display: flex; 
  justify-content: center; 
}

form label{
  flex-shrink: 0; 
  height: 50px; 
  width: 150px; 
  background-color: var(--accent-color);
  fill: var(--base-color); 
  color: var(--text-color);
  border-radius: 10px 0 0 10px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 1.5rem; 
  font-weight: 500; 
}

form input{
  box-sizing: border-box; 
  flex-grow: 1; 
  min-width: 0; 
  height: 50px; 
  padding: 1em; 
  font: inherit; 
  border-radius: 0 10px 10px 0; 
  border-left: none;
  border: 2px solid var(--input-color);
  background-color: var(--input-color);
  transition: 150ms ease; 
}

form input:hover{
  border: 2px solid var(--accent-color);
}

form input:focus{
  outline:none;
  border-color: var(--text-color);
}

div:has(input:focus) > label, 
div:has(select:focus) > label {
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
}


select:focus {
  outline: none;
  border-color: var(--text-color);
}

form input::placeholder{
  color:var(--text-color);
  opacity: 0.5; 
}


button{
  margin-top: 10px;
  border: none; 
  border-radius: 1000px; 
  padding: 0.85em 4em; 
  background-color: var(--accent-color);
  color: var(--text-color);
  font:inherit; 
  font-weight: 600; 
  text-transform: uppercase; 
  cursor: pointer; 
  transition: 150ms ease;
}

button:hover{
  background-color: var(--text-color);
}

button:focus{
  outline:none; 
  background-color: var(--text-color);
}

form button{
  margin-top: 10px;
  border: none; 
  border-radius: 1000px; 
  padding: 0.85em 4em; 
  background-color: var(--accent-color);
  color: var(--base-color);
  font:inherit; 
  font-weight: 600; 
  text-transform: uppercase; 
  cursor: pointer; 
  transition: 150ms ease;
}

form button:hover{
  background-color: var(--text-color);
}

form button:focus{
  outline:none; 
  background-color: var(--text-color);
}

@media(max-width: 1100px){
  .wrapper{
    width: min(600px, 100%);
    border-radius: 0;
  }
}

form div.incorrect label{
  background-color: red;
}

form div.incorrect input{
  border-color: red; 
}


form label {
  width: 180px;  
  font-size: 1.3rem;  
  padding: 0 10px; 
  white-space: nowrap; 
}


form {
  width: min(500px, 95%);  
  gap: 15px;  
}


form > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;  
}


form input[type="submit"] {
  width: 100%;
  margin-top: 15px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}

form input[type="submit"]:hover {
  background-color: var(--text-color);
}


select {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 0 1em; 
  font: inherit;
  border-radius: 0 10px 10px 0; 
  border-left: none;
  border: 2px solid var(--input-color);
  background-color: var(--input-color);
  transition: 150ms ease;
  
  
  display: flex;
  align-items: center;
  line-height: normal;
  text-align: left;
  appearance: menulist; 

}

select option {
  padding: 10px;
  font-size: 1rem;
}